@import "partials/variables";
@import "partials/mixins";
@include body;
/*body {font-size: 18px;}*/
#forma {
  background: url("../img/body/oblaci-grupa.svg") top right no-repeat / 50%;
  padding: 20px 30px;
  div {margin: 0 0 65px 0;}
  span {color: red;}
}
.logo {
  background: url("../img/body/oblak-pojmovnik-v.svg") $imgBackground;
  margin: 30px 0 40px 0;
  @include flexCenter;
  width: 240px;
  height: 120px;
  h2 {
    font-weight: 300;
    font-size: 2.2em;
  }
}

label {
  margin-right: 15px;
}
input[type="text"] {
  width: 160px;
  height: 46px;
  text-align: center;
  line-height: 1.4em;
  border: 0px solid lightgrey;
  padding: 0 15px;
  font-size: 1rem;
  margin: 0 5px;
  color: $darkblue;
  font-weight: bold;
  background: url("../img/body/pojam-bijelo-outline.svg") $imgBackground;
  &:focus {
    outline: 0px solid lightskyblue;
    background: url("../img/body/pojam-bijelo-outline-glow.svg") $imgBackground;
  }
}
.submit {
  font-size: 17px;
/*  font-family: 'Roboto Slab', serif;*/
  outline: none;
  width: 100px;
  height: 36px;
  color: $white;
  border: none;
  transition: ease-in .3s;
  cursor: pointer;
  @include blueBox;
  &:hover {
    @include blueBoxHover;
  }
  &:active {
    @include blueBoxActive;
  }
}
#forma form div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (max-width: 839px) {
    max-width: 500px;
  }
}
#forma form div label {
  @include flexCenter;
  color: white;
  cursor: pointer;
  @media screen and (max-width: 839px) {
    margin: 0 10px 15px 0;
  }
}

input[type="radio"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.label-focus {opacity: 0.5;}
.btn-l1 {

}
.btn-l1 > label {
  width: 180px;
  height: 50px;
  &:nth-child(2) {
    background: url("../img/body/btn-ljubicasti.svg") $imgBackground;
  }
  &:nth-child(4) {
    background: url("../img/body/btn-narancasti.svg") $imgBackground;
  }
  &:nth-child(6) {
    background: url("../img/body/btn-plavi.svg") $imgBackground;
  }
  &:nth-child(8) {
    background: url("../img/body/btn-zeleni.svg") $imgBackground;
  }
}
.btn-l1 input[type="radio"]:checked + label:nth-child(2) {
  background: url("../img/body/btn-ljubicasti-checked.svg") $imgBackground;
}
.btn-l1 input[type="radio"]:checked + label:nth-child(4) {
  background: url("../img/body/btn-narancasti-checked.svg") $imgBackground;
}
.btn-l1 input[type="radio"]:checked + label:nth-child(6) {
  background: url("../img/body/btn-plavi-checked.svg") $imgBackground;
}
.btn-l1 input[type="radio"]:checked + label:nth-child(8) {
  background: url("../img/body/btn-zeleni-checked.svg") $imgBackground;
}

.btn-l2 label {
  width: 180px;
  height: 50px;
  &:nth-child(2) {
    background: url("../img/body/btn-narancasti.svg") $imgBackground;
  }
  &:nth-child(4) {
    background: url("../img/body/btn-plavi.svg") $imgBackground;
  }
  &:nth-child(6) {
    background: url("../img/body/btn-zeleni.svg") $imgBackground;
  }
  &:nth-child(8) {
    background: url("../img/body/btn-ljubicasti.svg") $imgBackground;
  }
}
.btn-l2 input[type="radio"]:checked + label:nth-child(8) {
  background: url("../img/body/btn-ljubicasti-checked.svg") $imgBackground;
}
.btn-l2 input[type="radio"]:checked + label:nth-child(2) {
  background: url("../img/body/btn-narancasti-checked.svg") $imgBackground;
}
.btn-l2 input[type="radio"]:checked + label:nth-child(4) {
  background: url("../img/body/btn-plavi-checked.svg") $imgBackground;
}
.btn-l2 input[type="radio"]:checked + label:nth-child(6) {
  background: url("../img/body/btn-zeleni-checked.svg") $imgBackground;
}

.btn-l3 label {
  width: 180px;
  height: 50px;
  &:nth-child(2) {
    background: url("../img/body/btn-zeleni.svg") $imgBackground;
  }
  &:nth-child(4) {
    background: url("../img/body/btn-ljubicasti.svg") $imgBackground;
  }
  &:nth-child(6) {
    background: url("../img/body/btn-narancasti.svg") $imgBackground;
  }
  &:nth-child(8) {
    background: url("../img/body/btn-plavi.svg") $imgBackground;
  }
}
.btn-l3 input[type="radio"]:checked + label:nth-child(4) {
  background: url("../img/body/btn-ljubicasti-checked.svg") $imgBackground;
}
.btn-l3 input[type="radio"]:checked + label:nth-child(6) {
  background: url("../img/body/btn-narancasti-checked.svg") $imgBackground;
}
.btn-l3 input[type="radio"]:checked + label:nth-child(8) {
  background: url("../img/body/btn-plavi-checked.svg") $imgBackground;
}
.btn-l3 input[type="radio"]:checked + label:nth-child(2) {
  background: url("../img/body/btn-zeleni-checked.svg") $imgBackground;
}

.btn-l4 label {
  width: 180px;
  height: 50px;
  &:nth-child(4) {
    background: url("../img/body/btn-zeleni.svg") $imgBackground;
  }
  &:nth-child(6) {
    background: url("../img/body/btn-ljubicasti.svg") $imgBackground;
  }
  &:nth-child(8) {
    background: url("../img/body/btn-narancasti.svg") $imgBackground;
  }
  &:nth-child(2) {
    background: url("../img/body/btn-plavi.svg") $imgBackground;
  }
}
.btn-l4 input[type="radio"]:checked + label:nth-child(6) {
  background: url("../img/body/btn-ljubicasti-checked.svg") $imgBackground;
}
.btn-l4 input[type="radio"]:checked + label:nth-child(8) {
  background: url("../img/body/btn-narancasti-checked.svg") $imgBackground;
}
.btn-l4 input[type="radio"]:checked + label:nth-child(2) {
  background: url("../img/body/btn-plavi-checked.svg") $imgBackground;
}
.btn-l4 input[type="radio"]:checked + label:nth-child(4) {
  background: url("../img/body/btn-zeleni-checked.svg") $imgBackground;
}


.btn-g2 label, .btn-g1 label, .btn-g4 label {
  width: 100px;
  height: 50px;
  &:nth-child(2) {
    background: url("../img/body/btn-mali-lila.svg") $img95;
  }
  &:nth-child(4) {
    background: url("../img/body/btn-mali-zeleni.svg") $img95;
  }
}
.btn-g5 label, .btn-g3 label {
  width: 100px;
  height: 50px;
  &:nth-child(2) {
    background: url("../img/body/btn-mali-zeleni.svg") $img95;
  }
  &:nth-child(4) {
    background: url("../img/body/btn-mali-lila.svg") $img95;
  }
}
.btn-g2 input[type="radio"]:checked + label:nth-child(4), .btn-g1 input[type="radio"]:checked + label:nth-child(4), .btn-g4 input[type="radio"]:checked + label:nth-child(4) {
  background: url("../img/body/btn-mali-zeleni-checked.svg") $img95;
}
.btn-g2 input[type="radio"]:checked + label:nth-child(2), .btn-g1 input[type="radio"]:checked + label:nth-child(2), .btn-g4 input[type="radio"]:checked + label:nth-child(2) {
  background: url("../img/body/btn-mali-lila-checked.svg") $img95;
}

.btn-g5 input[type="radio"]:checked + label:nth-child(4), .btn-g3 input[type="radio"]:checked + label:nth-child(4) {
  background: url("../img/body/btn-mali-lila-checked.svg") $img95;
}
.btn-g5 input[type="radio"]:checked + label:nth-child(2), .btn-g3 input[type="radio"]:checked + label:nth-child(2) {
  background: url("../img/body/btn-mali-zeleni-checked.svg") $img95;
}

#forma form p {
  margin: 0 0 10px 0;
  font-weight: 500;
}
::placeholder {
  color: $lightGrey;
  font-weight: 400;
  text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $lightGrey;
  font-weight: 400;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: $lightGrey;
  font-weight: 400;
}

.prihvati {display: block;}
.da, .ne {display: inline-block;}
.da {
  background: url("../img/body/da.svg") $img84;
  width: 50px;
  height: 50px;
}
.ne {
  background: url("../img/body/ne.svg") $img80;
  width: 50px;
  height: 50px;
}
.unesi1, .unesi2 {margin: 0 10px 30px 0 !important;}
/** Bottom**/
.bottom {
  min-height: 180px;
  background: url("../img/body/brdo.svg") no-repeat center top / 100%;
  background-size: cover;
  display: flex;
  color: $white;
  margin-top: -10px;
}
.unesi2 input {
  margin-left: 0 !important;
}

@include button;
@include modal;

@media screen and (min-width: 1025px) {
  .shadow {
    max-width: 1024px;
    margin: auto;
    @include flexCenter;
  }
  .wrapper {
    width: 100%;
    margin: 60px 0;
    @include mainShadow;
  }
}