
$lightblue: #C0FBFF;
$darkblue: #2f82c8;
$default: 17px;
$white: white;
$popText: #F9FFE4;
$lightGrey: #bbb;

$greenM: #5b9800;
$lilac: #e6007e;
$orangeV: #f76423;
$violetV: #93479b;
$blueV: #009fe3;
$greenV: #5b9800;

$color1: #E71D73;
$color2: #93479B;
$color3: #009FE3;
$color4: #6DAF00;
$color5: #FFAA00;
$color6: #EA5B0C;

$img80: no-repeat center center / 80%;
$img84: no-repeat center center / 84%;
$img90: no-repeat center center / 90%;
$img95: no-repeat center center / 95%;
$imgBackground: no-repeat center center / 100%;
$violet: url("../img/body/krug-violet.svg") no-repeat center center / 100%;
$orange: url("../img/body/krug-orange.svg") no-repeat center center / 100%;
$green: url("../img/body/krug-zeleni.svg") no-repeat center center / 100%;
$img95: no-repeat center center / 95%;
